:root {
    --title-color: #f8f8f2;
    --onepx-black-border: 1px solid black;
    --tenpx-padding: 10px;
    --five-pixel-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}
/* nav styles */
.nav-bar {
    background: linear-gradient(to right, rgb(230, 100, 101), rgb(145, 152, 229));
    padding: 10px;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
}

.nav-title {
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.add-todo {
    padding: 0 10px;
}

/* side-bar styles */
.projects-bar {
    /* background: linear-gradient(to right, rgba(230, 100, 101, 0.5), rgba(145, 152, 229, 0.5)); */
    background: rgba(143, 151, 229, 0.3);
    height: 100vh;
    grid-column: 1 / 2;
    grid-row-start: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.current-project > p {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.add-project {
    padding: var(--tenpx-padding);
}

.current-proj-title:hover {
    cursor: default;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    overflow-x: hidden;
    height: calc(100vh - 100px);
}

.project {
    border: var(--onepx-black-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--tenpx-padding);
    border-radius: var(--five-pixel-radius);
}

.project-name {
    font-weight: bold;
    text-transform: uppercase;
}

.project-name:not(:first-child) {
    margin: 2px 0;
}

.project-name:hover {
    cursor: pointer;
}

.add-project {
    margin: 10px 0;
}

.current-project > p {
    padding: 0 0 10px 0;
}

.current-proj-title {
    border: var(--onepx-black-border);
    padding: 5px;
    border-radius: var(--five-pixel-radius);
}


/* todo-list styles */

.todo-container {
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    height: 100vh;
    grid-column: 2 / 3;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: 300px;
    justify-items: center;
    justify-content: center;
}

.todo-item {
    border: var(--onepx-black-border);
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
}

.todo-info {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
}

.checked {
    text-decoration: line-through;
}

.todo-name {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    width: 100%;
    height: auto;
    padding: 10px;
    background: lightblue;
}

/* form style */

.form-container, .proj-form-container {
    border: var(--onepx-black-border);
    border-radius: 5px;
    padding: 30px;
    background-color: rgba(143, 151, 229, 0.8);
    position: absolute;
    top: 10%;
    left: 40%;
    width: 30vw;
}

form {
    display: flex;
    flex-direction: column;
}

form > button {
    margin-top: 10px;
}

.cancel-container {
    display: flex;
    justify-content: flex-end;
}

.cancel-button {
    width: auto;
    color: white;
    font-weight: bold;
    text-align: end;
    font-size: 1.5rem;
}

.cancel-button:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.hide2 {
    display: none;
}

input, textarea, select, button[type="submit"] {
    padding: var(--tenpx-padding);
}

label {
    margin-top: 10px;
    text-align: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

label:first-child {
    margin-top: 0;
}

/* proj form styles */
.project-form-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.project-form-header > div {
    width: auto;
    color: white;
    font-weight: bold;
    text-align: end;
    font-size: 1.5rem;
    background: none;
}

.close-project-form:hover {
    cursor: pointer;
}

.project-form {
    display: flex;
    flex-direction: column;
} 