:root {
    --title-color: #f8f8f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

#app {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}
/* nav styles */
.nav-bar {
    background: linear-gradient(to right, #e66465, #9198e5);
    padding: 10px;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
}

.nav-title {
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.add-todo {
    padding: 0 10px;
}

/* side-bar styles */
.projects-bar {
    border-right: 1px solid #e66465;
    height: 100%;
    grid-column: 1 / 2;
    grid-row-start: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.add-project {
    margin: 10px 0;
}


/* todo-list styles */

.todo-container {
    padding: 20px;
    height: 100vw;
    grid-column: 2 / 3;
    grid-row-start: 2;
}